@import "../../index.css";

:root{
    --recipe-width: 300px
}

.mybar_cocktails{
    display:flex;
    flex-wrap: wrap;
    padding: 0 45px;
}

.fieldset_post{
    padding: 1rem 0;
}

#previewImage_img,.notes{
    width: var(--recipe-width)
}

.viewCocktailImage{
    width: 500px;
}

.recipe_label{
    display: block;
}

.userCocktailList{
    display:flex;
}

.userCocktails{
    padding: 2rem;
    width: 4rem;
    height: 4rem;
    margin: 1rem;
    text-align: center;
    display: flex;
    align-items: center;
}

.top{
    display: flex;
}

.rightSide{
    padding: 28px;
    width: 25rem;
}

.mybar_cocktailList{
    text-decoration: none;
    width: 25%;
    height:25%;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 24px;
    margin: 10px;
}