@import "../RoebucksRuin.css";

:root{
    --recipe-width: 300px
}

.mybar{
    display:flex;
}

.fieldset_post{
    padding: 1rem 0;
}

#previewImage_img,.notes{
    width: var(--recipe-width)
}