@import "../index.css";

:root{
    --slider-padding: 5rem;
}

.hero{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    height: 70vw;
    background-position: center center;
    background-size: cover;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.3);
  
  }
  
  .hero:hover{
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.1);
    transition: 1000ms;
  }
  
  .hero-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }
  
  .heroLabel{
    font-size: 16px;
    padding: 1rem 2rem;
  }
  
  .hero-item{
    padding: 2rem;
    color: white;
  }

  .carrousel-slider{
    width: 90vw;
    overflow: hidden;
    display: flex;
    position: relative;
    margin: 0 auto;
  }

  .slider{
    display:flex;
    flex-direction: row;
    width: 100%;
    height: 33%;
    transition: transform 500ms ease;
  }

  .sliderButton{
    border:none;
    position: absolute;
    width: var(--slider-padding);
    height: 5rem;
    font-size: 2.5rem;
    opacity: 20%;
    z-index: 100;
  }

  .sliderButton:hover{
    font-size: 3rem;
    opacity: 30%;
  }

  .leftSlider{
    height: 100%;
    left: 0;
    transform: translateX(10px)
  }
 
  .rightSlider{
    right: 0;
    height: 100%;
    transform: translateX(-10px)

  }

  .slideItem-container{
    flex: 0 0 25%;
    padding: 0 10px;
  }


  .sliderItem{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center center;
    aspect-ratio: 1/1;
    font-size: 2rem;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.3);
    transition: 
        transform 200ms ease-in-out,
        box-shadow 200ms ease-in-out;
  }

  .sliderItem:hover{
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.1);
    transform: scale(110%)
  }

  @media (max-width: 1360px){
    .sliderItem{
        font-size: 1.5rem;
    }
  }

  @media (max-width: 1000px){
    .sliderItem{
        font-size: 1rem;
    }
  }