@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;300;500;700;800&display=swap');

:root{
  --background-light: rgb(225, 225, 225);
  --background-dark: rgb(34, 34, 34);
  --color-light: rgb(34, 34, 34);
  --color-dark: rgb(225, 225, 225);
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}

html, body, #root, .componentContainer{
  min-height: 100vh !important;
}

body{
  font-family: 'Sora', sans-serif;
  color: var(--color-light);


}

.light{
  background-color: var(--background-light);
  color:var(--color-light);
  transition: 500ms ease-in-out;
  
}

.dark{
  background-color: var(--background-dark);
  color:var(--color-dark);
  transition: 500ms ease-in-out;
}

h1{
  font-size: 5rem;
  font-weight: 700;
}

h2{
  font-size: 4rem;
  font-weight: 400;
}

h3{
  font-size: 3rem;
  font-weight: 100;
}

.btn{
  padding: .5rem 1rem;
  border-radius: 1.5rem;
  height: 3rem;
  font-weight: 700;
  margin: 1rem;
  transition: 500ms ease-in-out;
}

.componentContainer{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 3rem 0 17rem 0;
}

fieldset{
  border: none;
}

input{
  background-color: #fff;
  text-align: center;
  font-weight: 700;
  border: none;
  padding: 1rem;
  border-radius: .5rem;
  margin: .5rem 1rem;
  transition: 500ms ease-in-out;
}

select{
  background-color: #fff;
  text-align: center;
  font-weight: 700;
  border: none;
  padding: 1rem;
  border-radius: .5rem;
  margin: .5rem 1rem;
  transition: 500ms ease-in-out;
}

textarea{
  background-color: #fff;
  text-align: center;
  font-weight: 700;
  border: none;
  padding: 1rem;
  border-radius: .5rem;
  margin: .5rem 1rem;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  transition: 500ms ease-in-out;
}

label{
  font-size: 1.5rem;
  font-style: bold;
}

a{
    text-decoration: none;
    color: #fff;
}

.hero{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  height: 70vw;
  background-position: center center;
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.3);
  margin-bottom: 50px;;

}

.hero:hover{
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.1);
  transition: 1000ms;
}

.hero-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.heroLabel{
  font-size: 16px;
  padding: 1rem 2rem;
}

.hero-item{
  padding: 2rem;
  color: white;
}