@import "../../index.css";

*{
    padding: none;
    margin: none;
  }

.nav{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

.navbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    list-style: none;
    padding: .5rem;
    height: 3rem;
    transition: 500ms ease-in-out;
}

.logo_dark{
   width: 3.75rem;
    background-color: #fff;
    border-radius: 2rem;
    border: solid 6px var(--background-light);
    padding: .5rem;
    transition: 500ms ease-in-out;
}

.logo_light{
    width: 3.75rem;
    background-color: #fff;
    border-radius: 2rem;
    border: solid 6px var(--background-dark);
    padding: .5rem;
    transition: 500ms ease-in-out;
}

.navbar__item {
    list-style-type: none;
}

.navbar__logout {
    margin-left: auto;
    
}

.navbar_link{
    text-decoration: none;
}

.btnDark{
    border: none;
    background-color: transparent;
    padding: 25px;
    transition: 500ms ease-in-out;
}

.switch_dark{
    height: 2rem;
    transition: 500ms ease-in-out;
}
.switch_light{
    height: 2rem;
    content: var(--color-dark);
    transition: 500ms ease-in-out;
}

.right{
    display: flex;
    align-items: center;
}

.bars{
    font-size: 1.5rem;
    transition: 500ms ease-in-out;
}

.logo_dark:hover{
    transform: scale(110%);    
}

.logo_light:hover{
    transform: scale(110%);    
}

.nav_menu_container{
    display: inline;
    position: fixed;
    right: 0;
    width: 225px;
    transform: translateX(100%);
    z-index: 999;
    transition: 500ms ease-in-out;
}

.mybarmenu_menu_container{
    display: inline;
    position: fixed;
    right: 0;
    transform: translateX(100%);
    width: 225px;
    transition: 500ms ease-in-out;
}

.active{
    transform: translateX(0%);
}

.toggle{
    transform: translateX(-100%);
}

.nav_menu_list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    transition: 500ms ease-in-out;
}

.nav_menu_content{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    padding: 1rem;
    text-decoration: none;
    transition: 500ms ease-in-out;
} 

.menuItem{
    display:flex;
    text-decoration: none;
}

.myBarMenuLi{
    cursor: pointer;
}