
*{
    padding: none;
    margin: none;
  }

.nav{
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    list-style: none;
    padding: .5rem;
    height: 2rem;
    transition: 500ms ease-in-out;
}

.logo{
    width: 2rem;
    background-color: #fff;
    border-radius: 1.5rem;
    padding: .5rem;   
}

.navbar__item {
    list-style-type: none;
}

.navbar__logout {
    margin-left: auto;
    
}

.navbar_link_image{
    width: 1.5rem;
    padding: .5rem;
    background-color: #fff;
    border-radius: 1.25rem;
}

.navbar_link{
    text-decoration: none;
}

.navbar_link:hover{
    color: pink;
}

.btnDark{
    border: none;
    background-color: transparent;
    padding: 25px;
}

.toggle{
    height: 2rem;
}

.right{
    display: flex;
    align-items: center;
}

.bars{
    font-size: 1.5rem;
    transition: 500ms ease-in-out;
}

.nav_menu_container{
    display: inline;
    position: fixed;
    right: 0;
    transition: 500ms ease-in-out;
}

.nav_menu{
    width: 11rem;
    padding: 1rem;
    transform: translateX(100%);
    transition: 500ms ease-in-out;
}

.nav_menu_active{
    width: 11rem;
    padding: 1rem;
    transition: 500ms ease-in-out;
}

.nav_menu_list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 500ms ease-in-out;
}

.nav_menu_content{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    padding: 10px;
    transition: 500ms ease-in-out;
} 