@import "../../index.css";

.container--login{
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-size: 100vw;
    background-position: center center;
    background-repeat: no-repeat;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.3);
}

@media (max-width: 1166px) {
    .container--login{
        background-size: 100vh;
        margin: auto;
    }
}

.logo{
    display: inline;
    position: fixed;
    left:5;
    top: 25px;
    width: 90px;
}

.form--login{
    padding: 3rem;
}

.login--fieldset{
    display:flex;
    flex-direction: column;
}

.inputLable{
    padding: 1rem;
    font-size: 1.3rem;
    font-weight: 700;
}

.title{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.form--container{
    background-color: rgba(225, 225, 225);
    border: 2px solid var(--background-color);
    margin: 2rem;
    border-radius: .5rem;
    filter: drop-shadow(0 0 1rem black);
}

