.container--login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-image: url("../../../public/images/DirtyMartini.jpg");
    background-size: 100vw;
    background-position: center center

}

@media (max-width: 1283px) {
    .container--login{
        background-size: 100vh;
        margin: auto;
    }
}

.logo{
    display: inline;
    position: fixed;
    left:5;
    top: 25px;
    width: 90px;
}

.login--fieldset{
    display:flex;
    flex-direction: column;
    padding: 3rem;
}

.inputLable{
    padding: 1rem;
    font-size: 1.3rem;
    font-weight: 700;
}

.title{
    display:flex;
    flex-direction: column;
    align-items: center;
}